*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav .wrapper {
  background-color: #fdedba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 10px 7%;
}

.nav .wrapper .nav-logo {
  z-index: 1;
}

.nav .wrapper .nav-logo .nav-logo__text {
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.nav .wrapper .nav-logo .nav-logo__text a {
  color: black;
  text-decoration: none;
}

.nav .wrapper .nav-menu {
  position: absolute;
  top: 0;
  left: -10000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 75vw;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  list-style-type: none;
  background-color: #fdedba;
}

.nav .wrapper .nav-menu .nav-menu__item {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 10px;
  padding: 5px;
}

.nav .wrapper .nav-menu .nav-menu__item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.nav .wrapper .show {
  left: 0;
}

.nav .wrapper .nav-burgermenu button {
  background-color: transparent;
  padding: 15px;
  font-size: 2rem;
  border: none;
}

@media (min-width: 1000px) {
  .nav .wrapper .nav-menu {
    position: static;
    height: 100%;
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: transparent;
  }
  .nav .wrapper .nav-menu .nav-menu__item {
    width: 150px;
    text-align: center;
    font-size: 1.6rem;
    padding: 5px;
    cursor: pointer;
  }
  .nav .wrapper .nav-menu .nav-menu__item a {
    border-radius: 25px;
    padding: 2px;
    -webkit-box-shadow: inset 0 0 0 0 #a79150;
            box-shadow: inset 0 0 0 0 #a79150;
    -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  }
  .nav .wrapper .nav-menu .nav-menu__item a:hover {
    -webkit-box-shadow: inset 150px 0 0 0 #a79150;
            box-shadow: inset 150px 0 0 0 #a79150;
    color: #fdedba;
  }
  .nav .nav-burgermenu {
    display: none;
  }
}

header {
  padding-top: 80px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */