@import './colors';
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../img/SH1.png);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
a {
	padding: 10px;
	border: 2px solid $sColor;
	border-radius: 25px;
	color: $sColor;
	background-color: transparent;
	font-size: 2rem;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s border 0.3s;
}
a:hover {
	color: $mColor;
	border: 2px solid $mColor;
}
.landingpage {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	font-size: 0;
	.landingpage-text {
		font-family: 'Pacifico', cursive;
	}
}
.landingpage-img {
	img {
		width: 100%;
		height: 100vh;
	}
}
.landingpage-content {
	position: absolute;
}
.landingpage-text {
	font-size: 4rem;
	color: $sColor;
}
.landingpage-buttons {
	margin: 25px;
	a {
		margin: 20px;
		padding: 10px;
		border: 2px solid $sColor;
		color: $sColor;
	}
	a:hover {
		color: $mColor;
		border: 2px solid $mColor;
	}
}
.values {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	max-width: 961px;
	background-color: $sColor;
	text-align: center;
	.value {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		.value-card {
			position: relative;
			height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid black;
			border-radius: 25px;
			overflow: hidden;
			box-shadow: 2px 2px 2px $mColor;
		}
		.value-card__img {
			width: 100%;
			height: 100%;
		}
		.value-card__content {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			.value-card__title {
				position: absolute;
				top: 0;
				width: 100%;
				padding: 25px;
				background-color: $mColor;
			}
			.value-card__text {
				position: absolute;
				visibility: hidden;
				padding: 10%;
			}
			.value-card__button {
				position: absolute;
				bottom: 10px;
			}
		}
		.value-card__content:hover {
			background-color: rgba(253, 237, 186, 0.4);
			.value-card__text {
				visibility: visible;
			}
		}
	}
}
.values:nth-child(2n + 1) {
	justify-content: flex-start;
}
